.tracks {
  margin-top: 32px;
}

.tracks__title {
  margin-bottom: 32px;
}

.tracks-list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  column-gap: 5%;
  row-gap: 64px;
  justify-items: center;
}